[Unit]
Description=Telegram Bot [@notifykabot]
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/www/code/notify-bot/
ExecStart=/home/www/code/notify-bot/venv/bin/python .
Restart=always

[Install]
WantedBy=multi-user.target